.image-to-show {
    width: 400px;
    height: 400px;
}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hide {
    display: none;
}

.buttons {
    margin-top: 20px;
    margin-left: 65px;
}

.btn {
    border-radius: 5px;
    cursor: pointer;
}